.modalContainer {
    width: 60vw;
    text-align: center;
    padding: 2% 3% ;
    border-radius: 20px;
    color: white;
    z-index: 22;
}

.modalHeader {
    color: #eda22f;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
}

.modalText {
    margin: 20px 0 !important;
}